.customSection {
  background: url(/mainPage_background.jpg);
  background-size: cover;
  background-position: center;

  padding: 30px 60px;
}

.actionBlock {
  display: flex;
  flex-direction: column;
  height: 700px;

  max-width: 1440px;
  margin: auto;
}

.mark {
  color: var(--green);
}

.actionText {
  font-size: var(--med-text);
}

.formContainer {
  position: relative;

  width: 100%;
  max-width: 800px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 6px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.085);
}

.formContainer h2 {
  font-size: var(--big-text);
  text-align: center;
}

@media (max-width: 800px) {
  .customSection {
    padding: 24px 24px;
  }

  .actionBlock {
    flex: 1;
    height: auto;
  }

  .formContainer {
    flex: 1;
    height: auto;
    margin-bottom: 12px;
  }
}
