.AboutUs {
  display: flex;
  min-height: 500px;
  font-size: var(--med-text);

  gap: 24px;
}

.AboutUs img {
  display: inline-block;
  width: 50%;
  border-radius: 6px;
  object-fit: cover;
}

.process {
  padding-left: 18px;
  align-self: flex-start;
}

.process li {
  margin: 12px 0;
  font-size: var(--med-text);
}

@media (max-width: 800px) {
  .AboutUs {
    flex-direction: column;
  }

  .AboutUs img {
    width: 100%;
  }
}
