.privacy {
  padding: 0 60px;
}

.privacy p,
.privacy ul {
  color: var(--text);
  line-height: 1.5;
}

.privacy ul {
  padding: 0 16px;
}

.privacy span {
  color: black;
}

@media (max-width: 800px) {
  .privacy {
    padding: 0 24px;
  }
}
