.emailForm {
  display: flex;
  height: calc(100% - 64px);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--gray);
  margin: 20px;
  padding: 12px;

  min-height: 300px;
}

.inputsContainer {
  display: flex;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--small-text);
  margin: 12px;
}

.checkbox input {
  height: 20px;
  width: 20px;
  margin-right: 12px;
}

.toPrivacy {
  text-decoration: underline;
  text-underline-offset: 3px;
}

/* Стили кнопки */
.nextButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--med-text);
  color: white;
  font-weight: bold;
  border-radius: 36px;
  padding: 18px;
  width: 100%;
  max-width: 300px;

  margin: 12px auto;
  background-image: linear-gradient(rgb(255, 98, 109), rgb(246, 2, 36));

  transition: transform 0.2s ease-out;
}

.nextButton:hover {
  transform: scale(1.05);
}

.nextButton:active {
  background-image: linear-gradient(rgb(255, 98, 109, 0.8), rgb(246, 2, 36, 0.8));
}

.nextButton:disabled {
  background-color: lightgray;
  background-image: none;
}

.progressBar {
  position: absolute;
  top: 0;

  height: 5px;
  background-color: var(--green);
  width: 100%;
}

.backButton {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 30px;
  left: 30px;
  font-size: 25px;

  border-radius: 50%;
}

.backButton:hover {
  transform: scale(1.05);
}

@media (max-width: 800px) {
  .inputsContainer {
    flex-direction: column;
    width: 100%;
  }

  .checkbox input {
    width: 35px;
    height: 35px;
  }

  .backButton {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px;
    width: 30px;
    top: 50%;
    left: -10px;

    transform: translateY(-50%);
  }
}
