.mainPage {
  display: flex;
  flex-direction: column;
  background: url(/mainPage_background.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;

  padding: 0 60px;
}

.mark {
  color: var(--green);
}

.actionText {
  font-size: var(--med-text);
}

.formContainer {
  width: 100%;
  flex: 1;
  max-width: 1000px;
  background-color: rgba(255, 255, 255, 0.9);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.formContainer h2 {
  font-size: var(--big-text);
  text-align: center;
}

@media (max-width: 800px) {
  .mainPage {
    padding: 0 24px;
  }
}
